// base

.homer *{
	position: absolute;
	@include box-sizing(content-box);
}
.homer {
	position: relative;
	width: 100px;
	height: 150px;
	margin: 0 auto;
}

// head

.head-homer {
	background: $background-homer;
	border-radius: 70% 70% 0 0;
	width: 80px;
	height: 60px;
	@include transform(-20deg);
	@include border(left);
	@include border(top);
	@include border(right);
}

// eyes

.eye-homer {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	border: 1px solid $default-border-color;
	background: #fff;
	overflow: hidden;
}
.eye-l-homer {
	top: 54px;
	left: 30px;

	z-index: 9;
}
.eye-r-homer {
	top: 54px;
	left: 56px;

	z-index: 8;
}

.eye-pupil-homer {
	height: 5px;
	width: 5px;
	background: #000;
	border-radius: 100%;
}
.eye-pupil-l-homer {
	top: 13px;
	left: 15px;
}
.eye-pupil-r-homer {
	top: 13px;
	left: 15px
}
.eye-behind-homer {
	background: $background-homer;
	width: 70px;
	height: 43px;
	top: 45px;
	left: 8px;
	@include border(left);

	z-index: 7;
	@include transform(2deg);
}

// eye animation

.eyelid-top-right-homer {
	width: 30px;
	height: 17px;
	border-bottom: 1px solid #110b00;
	border-radius: 100% 100% 0 0;
	background: $background-homer;

	z-index: 11;

	@include animation(eyelid-top-homer 10s linear 0s infinite);
}
.eyelid-bottom-right-homer {
	bottom: 0px;
	width: 30px;
	height: 12px;
	border-top: 1px solid #110b00;
	border-radius: 0 0 100% 100%;
	background: $background-homer;

	@include animation(eyelid-bottom-homer 10s linear 0s infinite);
}
.eyelid-top-left-homer {
	width: 30px;
	height: 17px;
	border-bottom: 1px solid #110b00;
	border-radius: 100% 100% 0 0;
	background: $background-homer;

	z-index: 11;

	@include animation(eyelid-top-homer 10s linear 0s infinite);
}
.eyelid-bottom-left-homer {
	bottom: 0px;
	width: 30px;
	height: 12px;
	border-top: 1px solid #110b00;
	border-radius: 0 0 100% 100%;
	background: $background-homer;

	@include animation(eyelid-bottom-homer 10s linear 0s infinite);
}

@include keyframes(eyelid-top-homer) {
	0% {top: -18px;}
	2% {top: 0px;}
	4% {top: -18px;}
	100% {top: -18px;}
}
@include keyframes(eyelid-bottom-homer) {
	0% {bottom: -13px;}
	2% {bottom: 0px;}
	4% {bottom: -13px;}
	100% {bottom: -13px;}
}

// eye-brow

.eyebrow-homer {
	background: $background-homer;
	border-radius: 100%;
	width: 18px;
	height: 15px;
	top: 47px;
	left: 67px;

	@include border(right);
	@include transform(-12deg);
}

// hair

.hair-homer {
	width: 26px;
	height: 16px;
	border-radius: 32px 32px 0 0;
	border-bottom: 1px solid transparent;
	z-index: 1;

	@include border(top);
	@include border(left);
	@include border(right);
	@include transform(-35deg);
}

.hair-r-homer {
	left: 20px;
	top: -8px;
}
.hair-l-homer {
	left: 8px;
	top: -6px;
}

// nose

.nose-homer {
	background: $background-homer;
	width: 20px;
	height: 13px;
	border-radius: 0 10px 10px 0;
	top: 78px;
	left: 58px;
	z-index: 8;

	@include transform(2deg);
	@include border(top);
	@include border(right);
	@include border(bottom);
}

// neck

.neck-homer {
	background: $background-homer;
	height: 65px;
	width: 63px;
	top: 27px;
	left: -1px;

	@include border(left);
}

// ear

.ear-homer-wrapper {
	left: -9px;
}

.ear-homer {
	background: $background-bart;
}
.ear-outside-homer {
	border-radius: 10px;
	@include border(left);
	@include border(top);
	@include border(bottom);
	width: 14px;
	height: 16px;
	top: 76px;
	left: 0px;

	z-index: 8;
}
.ear-inner-horizontal-homer {
	width: 5px;
	height: 7px;
	top: 81px;
	left: 7px;
	border-radius: 10px 0 0 10px;

	@include border(left);
	@include transform(-2deg);

	z-index: 10;
}
.ear-inner-vertical-homer {
	@include border(top);
	width: 9px;
	height: 5px;
	top: 80px;
	left: 4px;
	border-radius: 10px 10px  0 0;

	z-index: 9;
}
// hair - m - above the ear

.hair-homer-m {
	background: $default-border-color;
	width: 1px;
}
.homer-m {
	left: 2px;
	top: -2px;
}
.hair-m1 {
	top: 60px;
	left: -12px;
	height: 17px;

	@include transform(7deg);
}
.hair-m2 {
	top: 58px;
	left: -7px;
	height: 17px;

	@include transform(-26deg);
}
.hair-m3 {
	top: 58px;
	left: 0px;
	height: 17px;

	@include transform(16deg);
}
.hair-m4 {
	top: 58px;
	left: 6px;
	height: 17px;

	@include transform(-16deg);
}

// mouth

.mouth-homer-wrapper {
	top: 93px;
	left: 10px;
}
.mouth-homer {
	background: $background-mouth-homer;
}
.upper-lip-homer {
	width: 68px;
	height: 28px;
	border-radius: 25px 24px 0 0;
	top: -2px;
	left: 5px;
	@include border(top);
	@include border(right);
	@include border(left);

	z-index: 1;
}
.upper-lip-tip {
	width: 9px;
	height: 10px;
	top: 23px;
	left: 63px;
	border-radius: 0 30px 30px 0;
	@include border(right);
	@include border(top);
	@include transform(35deg);
}
.bottom-lip-homer {
	width: 46px;
	height: 22px;
	border-radius: 0 0 50px 50px;
	top: 26px;
	left: 5px;
	@include border(bottom);
	@include border(left);

	z-index: 1;
}
.bottom-lip-tip {
	width: 15px;
	height: 15px;
	top: 1px;
	left: 32px;
	border-radius: 0 30px 30px 0;
	@include border(right);
	@include transform(44deg);
}

// mouth - smile

.smile-homer {
	border-radius: 100%;
	width: 55px;
	height: 17px;
	top: 17px;
	left: 22px;
	@include border(bottom);
	@include transform(8deg);

	z-index: 2;
}

.laughLine-homer {
	width: 5px;
	height: 7px;
	top: 21px;
	left: 20px;
	border-radius: 10px 0 0 10px;
	z-index: 5;

	@include transform(35deg);
	@include border(left);
}

// throat

.throat-homer {
	background: $background-homer;
	width: 47px;
	height: 44px;
	top: 96px;
	left: -2px;
	@include border(left);
	@include border(right);
	@include transform(13deg);
}

// cheek

.cheek-homer {
	background: $background-homer;
	width: 22px;
	height: 10px;
	top: 88px;
	left: 12px;
}
