// bg

$background-homer: #FBD800;
$background-mouth-homer: #BEAE7D;
$background-bart: #FBD800;
$background-itchy: #009CDE;
$background-maggie: #FFD521;
$background-lisa: #FFD521;
$background-maggie-pacifier: #EE5E2D;
$background-favor: #6BCEF5;
$background-tip-bright: #FFEAAB;
$background-tip-dark: #EFB112;


$default-border-color: #000;

$border-bottom: 21px solid #000;


