$colors-simpsons: (
	bg-bart: #FBD800,
	bg-homer: #FBD800,
	bg-mouth-homer: #BEAE7D,
	bg-lisa: #FFD521,
	bg-itchy: #009CDE,
	bg-maggie: #FFD521,
	bg-maggie-pacifier: #EE5E2D,
	bg-favor: #6BCEF5,
	bg-tip-bright: #FFEAAB,
	bg-tip-dark: #EFB112,

);