$colors-simpsons: (
	'bart': (
		bg: #FBD800,
	),
	'itchy': (
		bg: #009CDE,
	),
	'homer': (
		bg: #FBD800,
		bg-mouth: #BEAE7D,
	),
	'maggie':(
		bg: #FFD521,
		bg-pacifier: #EE5E2D,
		bg-favor: #6BCEF5,
		bg-tip-bright: #FFEAAB,
		bg-tip-dark: #EFB112,
	),
	'lisa':(
		bg: #FFD521,
		bg-tip-bright: #FFEAAB,
		bg-tip-dark: #EFB112,
	),
);